{% extends "layout.twig" %}

{% block body %}

    <h1 class="text-center">Add your Article !</h1>
   
    <form action='/add-category' method='POST'>
        <div class="form-group">
        
    {% if errorForm %}

    {% for error in errorForm %}
    <ul>
    {% if error.title %}
        <li>{{error.title.message}}</li>
    {% endif %}

    {% if error.description %}
        <li>{{error.description.message}}</li>
    {% endif %}
        
    {% endfor %}
    {% endif %}

    
            <label for="">Title : </label>
            <input type="text" name="title" class="form-control">
        </div>
        
    
        <div class="form-group">
            <label for="">Description : </label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
        </div>
        
        
        <button class='btn btn-success'>Add Category</button>
</form>




{% block javascritp %}
<script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<script>
        ClassicEditor
            .create( document.querySelector( '#description' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}
{% endblock %}